/htdocs/*.html
/htdocs/css/style.min.css
/htdocs/main.rss
/htdocs/components
/htdocs/style.less
/htdocs/fonts/*.woff2
/node_modules/
/.venv
/htdocs_cn
__pycache__
*_cli.py
*.key
*.log
/ffmpeg/
.linux_venv